body {
    background-color: #f5f9dc;
}

.topNav{
    background-color: #112f08;
    overflow: hidden;
    padding-left:16px;
    padding-right:16px;
}

.topNav a{
    float: left;
    color: #f9d864;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}
.topNav a:hover {
    background-color: #9a4a0a;
    color: #f9d864;
}

#theme{
    float: right;
}

main{
    margin:20px 150px 20px 150px;
}

h1{
    font-size:40px;
}
h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

.whisk{
    width:6%;
    position:absolute;
    left: 33%;
    top:55px;
    border-spacing:0px;
}


#darkMode{
    display:none;
}

#contactForm{
    padding:100px;
    float:right;
}

input, textarea{
    margin-bottom: 15px;
}


#darkMode{
    display:none;
}

#map {
    height: 450px;
    width: 50%;
}

.footer{
    background-color: #9a4a0a;
    padding: 16px;
    text-align: center;
    color: #060c04;
    position: sticky;
    width: auto;
}

