/* navbar / header */
.topNav{
    background-color: #112f08;
    overflow: hidden;
    padding-left:16px;
    padding-right:16px;
}

.topNav a{
    float: left;
    color: #f9d864;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover {
    background-color: #9a4a0a;
    color: #f9d864;
}

#theme{
    float: right;
}

/* main body */
body {
    background-color: #f5f9dc;
}

main{
    margin:20px 150px 20px 150px;
}

/* headers */
h1{
    font-size:40px;
}
h2{
    font-size: 30px;
}

/* animated whisk */
.whisk{
    width:6%;
    position:absolute;
    right: 60%;
    top:55px;
    border-spacing:0px;
}

#darkMode{
    display:none;
}

/* images */
figure{
    float:right;
    width:40%;
    padding:10px;
    margin-bottom:100px;
}
.imgGord{
    width: 100%;
    border: solid;
    border-color: #f9d864;
}

/* inputs/form */
#contactForm{
    padding:50px;
}

input, textarea{
    margin-bottom: 15px;
}

/*  google maps api */
#map {
    height: 450px;
    width: 50%;
    border: solid;
    border-color: #f9d864;
}

/* footer */
.footer{
    background-color: #9a4a0a;
    padding: 16px;
    text-align: center;
    color: #060c04;
    position: sticky;
    width: auto;
}

/* media queries */
@media screen and (width <= 1300px){
    .whisk{
        top:70px;
        right:10%;
        width:11%;
    }
    figure{
        float:none;
        width:80%;
    }
}

@media screen and (width <= 800px){
    main{
        margin:20px 50px 20px 50px;
    }

    .whisk{
        right:3%;
        width:14%;
        top:110px;
    }

    #map{
        width:100%;
    }
}

@media screen and (width <=450px){
    .whisk{
        top:200px;
    }
}


