body {
    background-color: #f5f9dc;
}
.topNav{
    background-color: #112f08;
    overflow: hidden;
    padding-left:16px;
    padding-right:16px;
    width: auto;
}

.topNav a{
    float: left;
    color: #f9d864;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
    
}
.topNav a:hover {
    background-color: #9a4a0a;
    color: #f9d864;
    
}

#theme{
    float: right;
}

main{
    margin:20px 75px 20px 75px;
}

h1{
    font-size:40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}

.rollingPin{
    width:8.5%;
    position:absolute;
    right:7%;
    top:90px;
    border-spacing:0px;
}

#darkMode{
    display:none;
}
.accordion_tabs{
background-color: #D5D8C3;
}

img{
    float: right;
    width:20%;
}

.video-container{
    display:inline-block;
    gap:20px;
    height:fit-content;
}

#darkMode{
    display:none;
}

.footer{
    background-color: #9a4a0a;
    padding: 16px;
    text-align: center;
    color: #060c04;
    position: sticky;
    width: auto;

}