body {
    background-color: slategray;
}
.topNav{
    background-color: #023020;
    overflow: hidden;
    padding-left:16px
}

.topNav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

  .footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: #023020;
    position: sticky;
    /* left: 0;
    bottom: 0; */
    width: auto;

  }