/* navbar / header */
.topNav{
    background-color: #112f08;
    overflow: hidden;
    padding-left:16px;
    padding-right:16px;
    width: auto;
}

.topNav a{
    float: left;
    color: #f9d864;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
    
}
.topNav a:hover {
    background-color: #9a4a0a;
    color: #f9d864;
    
}

#theme{
    float: right;
}

/* main body */
body {
    background-color: #f5f9dc;
}

main{
    margin:20px 75px 20px 75px;
}

main p{
    font-size: 18px;
}

/* headers */
h1{
    font-size:40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

#mainTitle{
    padding-top:10%;
    text-align: center;
    padding-bottom:10%
}

/* images */
.bigscreen{
    float:right;
    width:50%;
    padding:10px;
}

img{
    width: 100%;
}

.smallscreen{
    display:none;
    width:80%;
    padding-top:50px;
}

/* animated knife */
.knife{
    width:20%;
    position:absolute;
    left:16%;
    top:400px;
    border-spacing:0px;
}

#darkMode{
    display:none;
}

/* jquery ui sortable */
#sortable , #sortable2{ 
    list-style-type: none; 
    margin: 0; 
    padding-bottom: 100px; 
    width: 1000px; 
}

#sortable li, #sortable2 li{ 
    margin: 1px 1px 1px 1px; 
    padding: 0px; 
    float: left; 
    width: 139px; 
    height: 140px; 
    font-size: 3em; 
    text-align: center; 
}

#sortable li img, #sortable2 li img{ 
    float: left; 
    width: 100%; 
    height: 100%; 
    font-size: 4em; 
    text-align: center; 
    
}

#sortable2{
    padding-left:10%;
    padding-bottom: 1000px; 
    width: 200px; 
}

#sortable2{
    display:none;
}

/* footer */
.footer{
    background-color: #9a4a0a;
    padding: 16px;
    text-align: center;
    color: #060c04;
    position: sticky;
    width: auto;
}

/* media queries */
@media screen and (width <= 1000px){
    .knife{
        width:45%;
        left:30%;
        top:370px;
    }

    .bigscreen , #sortable{
        display:none;
    }

    .smallscreen, #sortable2{
        display:block;
    }
}

@media screen and (width <= 600px){
    .knife{
        top:400px
    }
}

@media screen and (width <= 450px){
    .knife{
        top:500px;
    }

    .smallscreen{
        width:70%;
    }
}