body {
    background-color: #f5f9dc;
}

.topNav{
    background-color: #112f08;
    overflow: hidden;
    padding-left:16px;
    padding-right:16px;
    width: auto;
}

.topNav a{
    float: left;
    color: #f9d864;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
    
}
.topNav a:hover {
    background-color: #9a4a0a;
    color: #f9d864;
    
}

#theme{
    float: right;
}

main{
    margin:20px 75px 20px 75px;
}

h1{
    font-size:40px;
}

.chefPro{
    float:right;
    padding: 15px;
    padding-right:150px;
    width: 30%;
}

#mainTitle{
    padding-top:10%;
    text-align: center;
    padding-bottom:10%
}

.knife{
    width:20%;
    position:absolute;
    left:22%;
    top:400px;
    border-spacing:0px;
}

#darkMode{
    display:none;
}



#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0px 3px 3px 3px; padding: 2em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.footer{
    background-color: #9a4a0a;
    padding: 16px;
    text-align: center;
    color: #060c04;
    position: sticky;
    width: auto;
}